repos:
    - repo: local
      hooks:
        - id: black
          name: black
          entry: black
          language: system
          types: [python]
          require_serial: true
        - id: check-added-large-files
          name: Check for added large files
          entry: check-added-large-files
          language: system
        - id: check-toml
          name: Check Toml
          entry: check-toml
          language: system
          types: [toml]
        - id: end-of-file-fixer
          name: Fix End of Files
          entry: end-of-file-fixer
          language: system
          types: [text]
          stages: [commit, push, manual]
        - id: flake8
          name: flake8
          entry: flake8
          language: system
          types: [python]
          require_serial: true
        - id: reorder-python-imports
          name: Reorder python imports
          entry: reorder-python-imports
          language: system
          types: [python]
          args: [--application-directories=jax_rl]
        - id: trailing-whitespace
          name: Trim Trailing Whitespace
          exclude: .bumpversion.cfg
          entry: trailing-whitespace-fixer
          language: system
          types: [text]
          stages: [commit, push, manual]
